@import "tailwindcss";
@import "@nuxt/ui";
@import "flowbite/src/themes/default";
@plugin "flyonui";
@import "flyonui/variants.css";

/* @import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap'); */

@font-face {
  font-family: Figtree;
  font-style: normal;
  src: url("assets/fonts/Figtree/Figtree-Regular.ttf") format("truetype");
}

@custom-variant dark (&:where(.dark, .dark *));  /*  To Enable Dark Mode */

@theme{
  --font-display: 'Figtree';
}

html {
  @apply font-display;
}